{{extend 'layout.html'}}

<script src="{{=URL('static','js/tagging_ajax.js')}}"></script>
<script src="{{=URL('static','js/grouping_ajax.js')}}"></script>
{{=json}}
<script>
var msg_id = {{=id}};

$(function(){
    click_once_tag();            
    click_once_group();            
})

function addgroups(widget){    
    groups = $.grep(groups, function(group){ return group.role != widget.target.name } )
    
    $.ajax({
        url: '/msghandler/default/insert_ajax',
        data: 'group=' + this.id  + '&id=' + msg_id + '&table=msg_group'
        })             
    
    td1 = $('<img>').attr({
            src:'/msghandler/static/images/delete.png',
            class:'groups-add',
            hidden:true,
            name:widget.target.name,
            id: 'img' + widget.target.id,
        });

    $(widget.target).parent().fadeOut(function() { $(this).remove(); });
    $('#tr-groups-new table tr').append($('<td class="top-td">').append($('<span>'+ widget.target.name +'</span>'),td1));
    
    $('.groups-add').unbind();
    click_once_group();
}

function click_once_group(){
    $('.groups-add').one('click', function(){
        $(this).parent().fadeOut( function() { $(this).remove();});
        id = parseInt(this.id.split('imgt')[1]);
        tag = {id:id, role:this.name};
        groups.push(tag); 
        $.ajax({
            url: '/msghandler/default/delete_ajax',
            data: 'group=' + id  + '&id=' + msg_id + '&table=msg_group'
        })             
        showgroups();                 
    });
}

</script>

Things to Do
<ol>
<li><del>List attachments</del></li>
<li><del>List groups</del></li>
<li><del>List tags</del></li>
<li><del>Add tags</del></li>
<li><del>Delete tags</del></li>
<li><del>Add Groups</del></li>
<li><del>Delete Groups</del></li>
<li><del>Add Attachment</del></li>
<li>Reply Message</li>
<li></li>
</ol>

<table>
<tr><td>From:</td>{{=TD(message.created_by.name)}}</tr>
<tr><td>Subject:</td>{{=TD(message.subject)}}<tr/>
<tr><td>Created time:</td>{{=TD(message.create_time)}}</tr>
<tr><td>Groups:</td>
    <td id='tr-groups-new'><table><tr>
{{if len(groups):}}    
    {{for group in groups:}}
        <td class='top-td'>
            <span>{{=group.group_id.role}}</span>
            {{=IMG(_src=URL('static', 'images/delete.png'), _hidden=True, _class='groups-add', _id='imgt'+ `group.group_id.id`, _name=group.group_id.role)}}
        </td>
    {{pass}}
{{pass}}    
    </tr></table></td>
</tr>    

<tr><td>Search Group:</td><td><input name='groups' onkeyup='showgroups()' autocomplete='off' /></td>
<tr><td></td><td><div id='new-groups'></div></td><tr>
<tr><td>Tags:</td>
    <td id='tr-tags-new'><table><tr>
{{if len(tags):}}    
    {{for tag in tags:}}
        <td class='top-td'>
            <span>{{=tag.tag_id.name}}</span>
            {{=IMG(_src=URL('static', 'images/delete.png'), _hidden=True, _class='tags-add', _id='imgt'+ `tag.tag_id.id`, _name=tag.tag_id.name)}}
        </td>
    {{pass}}
{{pass}}    
    </tr></table></td>
</tr>
<tr><td>Search Tags:</td><td><input name='tags' onkeyup='showtags()' autocomplete='off' /></td>
<tr><td></td><td><div id='new-tags'></div></td><tr>

<tr><td colspan=2>{{=message.content}}</td></tr>
</table>
{{if len(attachments) > 0:}}
Attachments
<table>
<tr>
{{for attachment in attachments:}}
{{=TD(A(IMG(_src=URL('download',args=attachment.attachment), _alt="attachments"),
      _href=URL('download',args=attachment.attachment)))}}      
{{pass}}
</tr>
</table>
<table>
{{pass}}
[{{=A('Attach file', _href=URL('create_attachment', args=id))}}]<br />
Replies:
<table>
{{for reply in replies:}}
<tr><td>{{=IMG(_src=URL('static', 'images/reload.png'))}}From:</td>{{=TD(message.created_by.name)}}</tr>
<tr><td>Created time:</td>{{=TD(message.create_time)}}</tr>
<tr><td colspan=2>{{=message.content}}</td></tr>
{{pass}}
</table>
<a onclick="$('#courses').slideToggle()">[Reply]</a><br/>
<div id='courses' class='hidden'>
{{=form}}
</div>
