{{extend 'layout.html'}}
Things to Do
<ol>
<li><del>Add attachments</del></li>
<li><del>Add groups</del></li>
<li>Add tags</li>
<li></li>
</ol>

<table>
<tr><td>From:</td>{{=TD(message.created_by.name)}}</tr>
<tr><td>Subject:</td>{{=TD(message.subject)}}
{{if len(groups):}}
<tr><td>Groups:</td>
    <td><table><tr>
    {{for group in groups:}}
        {{=TD(group.group_id.role)}}
    {{pass}}
    </tr></table></td>
</tr>    
{{pass}}

{{if len(tags):}}
<tr><td>Tags:</td>
    <td><table><tr>
    {{for tag in tags:}}
        {{=TD(tag.tag_id.name)}}
    {{pass}}
    </tr></table></td>
</tr>
{{pass}}

<tr><td colspan=2>{{=message.content}}</td></tr>
</table>
{{if len(attachments) > 0:}}
Attachments
<table>
<tr>
{{for attachment in attachments:}}
{{=TD(A(IMG(_src=URL('download',args=attachment.attachment), _alt="attachments"),
      _href=URL('download',args=attachment.attachment)))}}      
{{pass}}
</tr>
</table>

<table>
{{pass}}
