{{extend 'layout.html'}}
<script>
$(function(){
    $('.span-div-tags').live('mouseleave', function(){
            $($(this).children()[1]).hide();
    }).live('mouseenter', function(){
            $($(this).children()[1]).show();
    });    
})
</script>
<h1>Message</h1>
{{=form}}

{{if len(tags) > 0:}}
<h3>Tags</h3>
<table>
{{=tags}}
</table>
{{pass}}

{{if len(attachments) > 0:}}
<h3>Attachments</h3>
<table>

<tr>
{{for attachment in attachments:}}
{{=TD(A(IMG(_src=URL('download',args=attachment.attachment), _alt="attachments"),
      _href=URL('download',args=attachment.attachment)))}}      
{{pass}}
</tr>
<tr>
{{for attachment in attachments:}}
<th>{{=A('Delete', _href=URL('delete_attach', args=(attachment.id, id)))}}</th>
{{pass}}
</tr>
</table>

{{pass}}

[{{=A('Attach file', _href=URL('create_attachment', args=id))}}]<br />
