{{extend 'layout.html'}}
<script src="{{=URL('static','js/tagging_ajax.js')}}"></script>
<script src="{{=URL('static','js/grouping_ajax.js')}}"></script>
<script>

var msg_id = {{=id}};

$(function(){
    click_once_tag();            
    click_once_group();            
})

function addgroups(widget){    
    groups = $.grep(groups, function(group){ return group.role != widget.target.name } )
    
    $.ajax({
        url: '/msghandler/default/insert_ajax_group_message',
        data: 'group=' + this.id  + '&id=' + msg_id
        })             
    
    td1 = $('<img>').attr({
            src:'/msghandler/static/images/delete.png',
            class:'groups-add',
            hidden:true,
            id: 'img' + widget.target.id,
        });

    $(widget.target).parent().fadeOut(function() { $(this).remove(); });
    $('#tr-groups-new table tr').append($('<td class="top-td">').append($('<span>'+ widget.target.name +'</span>'),td1));
    
    $('.groups-add').unbind();
    click_once_group();
}

function click_once_group(){
    $('.groups-add').one('click', function(){
        $(this).parent().fadeOut( function() { $(this).remove();});
        tag = {id:parseInt(this.id.split('imgt')[1]), role:this.name};
        groups.push(tag); 
        $.ajax({
            url: '/msghandler/default/delete_ajax_group_message',
            data: 'group=' + this.id  + '&id=' + msg_id
        })             
        showgroups();                 
    });
}


</script>
{{=json}}
<h1>Message</h1>
{{=form}}

{{if len(attachments) > 0:}}
<h3>Attachments</h3>
<table>

<tr>
{{for attachment in attachments:}}
{{=TD(A(IMG(_src=URL('download',args=attachment.attachment), _alt="attachments"),
      _href=URL('download',args=attachment.attachment)))}}      
{{pass}}
</tr>
<tr>
{{for attachment in attachments:}}
<th>{{=A('Delete', _href=URL('delete_attach', args=(attachment.id, id)))}}</th>
{{pass}}
</tr>
</table>

{{pass}}

[{{=A('Attach file', _href=URL('create_attachment', args=id))}}]<br />
