{{extend 'layout.html'}}
<script type="text/javascript" src="/{{=request.application}}/static/js/jquery.timeago.js"></script>
<script>
    $(function(){
        $('.timestamp').timeago()             
    })
</script>
<table>
{{for event in events:}}
{{#=TR(TD('%s %s %s ' % (event.user_id.first_name, event.user_id.last_name, event.description), SPAN(_class='timestamp', _title=event.timestamp.isoformat()),'.'))}}
{{pass}}
</table>

Things to Do
<ol>
<li>Events should be: _user_ \verb\ _event_ _2 minutes ago_. (facebook style)</li>
<li>users can view own events</li>
<li>users can view events from a referral where they commented (or where they are creator)</li>
<li>users can view new message events from a group where they are member of</li>
<li></li>
</ol>
