{{extend 'layout.html'}}
<script type="text/javascript" src="/{{=request.application}}/static/js/jquery.timeago.js"></script>
<script>
    $(function(){
        $('.timestamp').timeago()             
    })
</script>
Things to Do
<ol>
<li>users can view own events</li>
<li>users can view events from a referral where they commented (or where they are creator)</li>
<li>users can view new message events from a group where they are member of</li>
<li></li>
</ol>
Sample events
<ol>
<li><a href="#">Jose Rizal</a> sent an <a href="#">email referral</a>. <abbr href="#" class="timestamp" title="2011-05-22T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> sent an <a href="#">SMS reply</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li>(kaya lang mukhang mahirap isama sa ordering) <a href="#">Jose Rizal</a> sent an <a href="#">SMS reply</a> to <a href="#">Andres Bonifacio's</a> <a href="#">SMS referral</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> created new tag <a href="#">Telehealth</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">You</a> deleted tag <a href="#">Admin</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> modified tag <a href="#">Telehealth</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">You</a> deleted tag <a href="#">Admin</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li></li>
</ol>

<table>
{{for event in events:}}
{{if event.table_name == 'tag' and event.access == 'create':}}
<tr><td>{{='You' if not auth.user.id != event.user_id.id else A('%s %s' % (event.user_id.first_name, event.user_id.last_name),_href=URL('users'))}} added a {{=event.table_name}} {{=A(event.details,_href=URL('tags'))}}.</td></tr>
{{pass}}
{{pass}}
</table>
