{{extend 'layout.html'}}
<script type="text/javascript" src="/{{=request.application}}/static/js/jquery.timeago.js"></script>
<script>
    $(function(){
        $('.timestamp').timeago()             
    })
</script>
Things to Do
<ol>
<li>users can view own events</li>
<li>users can view events from a referral where they commented (or where they are creator)</li>
<li>users can view new message events from a group where they are member of</li>
<li><del>CUD Tag</del></li>
<li><del>CUD Group</del></li>
<li><del>CUD Contact</del></li>
<li></li>
</ol>
Sample events
<ol>
<li><a href="#">Jose Rizal</a> sent an <a href="#">email referral</a>. <abbr href="#" class="timestamp" title="2011-05-22T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> sent an <a href="#">SMS reply</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li>(kaya lang mukhang mahirap isama sa ordering) <a href="#">Jose Rizal</a> sent an <a href="#">SMS reply</a> to <a href="#">Andres Bonifacio's</a> <a href="#">SMS referral</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> created new tag <a href="#">Telehealth</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">You</a> deleted tag <a href="#">Admin</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">Jose Rizal</a> modified tag <a href="#">Telehealth</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li><a href="#">You</a> deleted tag <a href="#">Admin</a>. <abbr href="#" class="timestamp" title="2008-07-17T09:24:17Z" /></li>
<li></li>
</ol>

<table>
{{for evnt in evnts:}}

{{if evnt['table'] == 'tag':}}
    {{if evnt['access'] == 'create':}}
        <tr><td>{{=evnt['user']}} added a new tag {{=A(evnt['item'].name, _href=URL('tags')) if evnt['item'] else '[was deleted]'}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span></td></tr>
    {{elif evnt['access'] == 'update':}}
        <tr><td>{{=evnt['user']}} updated a tag {{=A(evnt['item'].name, _href=URL('tags')) if evnt['item'] else '[was deleted]'}} [{{=evnt['details']}}]. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td></tr>
        {{elif evnt['access'] == 'delete':}}
<tr><td>{{=evnt['user']}} deleted the tag {{=evnt['details']}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td>
    {{pass}}

{{elif evnt['table'] == 'auth_group':}}
    {{if evnt['access'] == 'create':}}
        <tr><td>{{=evnt['user']}} added a new group {{=A(evnt['item'].role, _href=URL('groups')) if evnt['item'] else '[was deleted]'}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span></td></tr>
    {{elif evnt['access'] == 'update':}}
        <tr><td>{{=evnt['user']}} updated a group {{=A(evnt['item'].role, _href=URL('groups')) if evnt['item'] else '[was deleted]'}} [{{=evnt['details']}}]. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td></tr>
    {{elif evnt['access'] == 'delete':}}
        <tr><td>{{=evnt['user']}} deleted the group {{=evnt['details']}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td>
    {{pass}}

{{elif evnt['table'] == 'contact':}}
    {{if evnt['access'] == 'create':}}
        <tr><td>{{=evnt['user']}} added a new contact {{=A(evnt['item'].name, _href=URL('contacts')) if evnt['item'] else '[was deleted]'}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span></td></tr>
    {{elif evnt['access'] == 'update':}}
        <tr><td>{{=evnt['user']}} updated a contact {{=A(evnt['item'].name, _href=URL('contacts')) if evnt['item'] else '[was deleted]'}} [{{=evnt['details']}}]. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td></tr>
    {{elif evnt['access'] == 'delete':}}
        <tr><td>{{=evnt['user']}} deleted the contact {{=evnt['details']}}. <span class='timestamp' title={{=evnt['timestamp'].isoformat()}}></span> </td>
    {{pass}}

{{pass}}
{{pass}}
</table>
