{{extend 'layout.html'}}
<h1>Contacts</h1>
[{{=A('Create a new contact', _href=URL('create_contact'))}}]<br />
<ul>{{for contact in contacts:}}
    {{=LI(A(contact.name, _href=URL('show_contact',args=contact.id)))}}
{{pass}}</ul>

<h1>Tags</h1>
[{{=A('Create a new tag', _href=URL('create_tag'))}}]<br />
<ul>{{for tag in tags:}}
    {{=LI(A(tag.name, _href=URL('show_tag',args=tag.id)))}}
{{pass}}</ul>


<h1>Messages</h1>
[{{=A('Create a new message', _href=URL('create_message'))}}]<br />

<ul>{{for message in messages:}}
    <li>{{=A(message.subject, _href=URL('show_message',args=message.id))}} by {{=A(message.created_by.name, _href=URL('show_contact', args=message.created_by.id))}}
    </li>
{{pass}}</ul>
