{{extend 'layout.html'}}
<script src="{{=URL('static','js/tagging.js')}}"></script>
<script>
$(
    function(){
        $('.tags-add').one('click', function(event){
                    $(this).parent().fadeOut( function() { $(this).remove();});
                    selected = $('img.tags-add');
                    id = parseInt(this.id.split('imgt')[1]);
                    tag = {id:id, name:this.name};
                    tags.push(tag);    
                    $('#msg_attachment_tags').keyup(); 
                
                    str = '';
                    for(i= 0 ; i < selected.size(); i++){
                        str = str + selected[i].id.split('t')[1] + ',';
                    }
                    $(':input[name=tags_new]').val(str);                
        });
    }
)
</script>
{{=json}}
<h1>Message</h1>
{{=form}}

{{if len(attachments) > 0:}}
<h3>Attachments</h3>
<table>

<tr>
{{for attachment in attachments:}}
{{=TD(A(IMG(_src=URL('download',args=attachment.attachment), _alt="attachments"),
      _href=URL('download',args=attachment.attachment)))}}      
{{pass}}
</tr>
<tr>
{{for attachment in attachments:}}
<th>{{=A('Delete', _href=URL('delete_attach', args=(attachment.id, id)))}}</th>
{{pass}}
</tr>
</table>

{{pass}}

[{{=A('Attach file', _href=URL('create_attachment', args=id))}}]<br />
