{{extend 'layout.html'}}

<script src="{{=URL('static','js/grouping_ajax.js')}}"></script>
<script>

var user_id = {{=id}};

$(function(){
    click_once_group();    
})

function addgroups(widget){    
    groups = $.grep(groups, function(group){ return group.role != widget.target.name } )
    
    $.ajax({
        url: '/msghandler/default/insert_ajax',
        data: 'group=' + this.id  + '&id=' + user_id + '&table=user_group'
        })             
    
    td1 = $('<img>').attr({
            src:'/msghandler/static/images/delete.png',
            class:'groups-add',
            hidden:true,
            id: 'img' + widget.target.id,
            name: widget.target.name,
        });

    $(widget.target).parent().fadeOut(function() { $(this).remove(); });
    $('#tr-groups-new table tr').append($('<td class="top-td">').append($('<span>'+ widget.target.name +'</span>'),td1));
    
    $('.groups-add').unbind();
    click_once_group();
}

function click_once_group(){
    $('.groups-add').one('click', function(){
                $(this).parent().fadeOut( function() { $(this).remove();});
                id = parseInt(this.id.split('imgt')[1]);
                tag = {id:id, role:this.name};
                groups.push(tag); 
                $.ajax({
                    url: '/msghandler/default/delete_ajax',
                    data: 'group=' + id  + '&id=' + user_id + '&table=user_group'
                })             
               showgroups();                 
    });
}


</script>
{{=json}}
<h1>User</h1>
{{=form}}
